@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Arbutus+Slab&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Moul&family=Suez+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

.nav-bar {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 43px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.nav-bar input {
  padding: 0 10px;
  background: #3a563a;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 266px;
  height: 26px;
  border-radius: 10px;
  font-family: "Aoboshi One", serif;
  font-style: normal;
  color: white;
  font-size: 9px;
}
input::placeholder {
  color: white;
  font-size: 9px;
  font-family: "Aoboshi One", serif;
}

.book-container {
  display: none;
}

.container {
  padding: 10px;
  display: grid;
  gap: 10px;
  width: 100%;
}

.text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30px;
  padding: 0px 15px;
}

.text-wrap h5 {
  background-image: linear-gradient(#234f23, #45f02a);
  -webkit-background-clip: text; /* For webkit browsers */
  background-clip: text;
  color: transparent;
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  text-shadow: 0px 4px 4px #000000a8;
}

.text-wrap p {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.book-wrap {
  background: #e4b81a;
  border-radius: 20px;
}

.book-wrap .top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  width: 100%;
}

.top h3 {
  color: white;
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.right {
  background: #fff;
  padding: 10px;
  width: 132px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.center {
  display: flex;
  font-size: 12px;
  padding: 5px;
  background: #fffdfd;
  max-width: 21rem;
  padding: 3px 5px;
  overflow-y: scroll;
}

.center::-webkit-scrollbar {
  display: none;
}

.center a {
  font-family: "Aoboshi One", serif;
  font-style: normal;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
  min-width: 6rem;
  text-decoration: none;
  color: #747070;
}

.bottom {
  padding: 10px;
}

.bottom p {
  font-family: "Aoboshi One", serif;
  font-style: normal;
  font-size: 9px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0em;
  color: #fff;
}

.borrow-wrap {
  background: #3a563a;
  padding: 10px;
  border-radius: 20px;
}

.borrow-wrap p {
  font-family: "Aoboshi One", serif;
  font-style: normal;
  font-size: 9px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0em;
  color: #fff;
}

.books-recommended,
.recent-borrow {
  overflow-y: scroll;
  display: flex;
  gap: 15px;
  max-width: 20.3rem;
  padding: 5px;
}

.books-recommended::-webkit-scrollbar {
  display: none;
}

.books {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  transition: 1s;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: grid;
  gap: 10px;
  place-items: center;
}

.books h3 {
  font-family: "Arbutus Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.subject-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 5rem));
  grid-gap: 10px;
  text-align: center;
  justify-content: center;
  max-width: 20rem;
  padding: 10px;
}

.subject-wrap a {
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #747070;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: "Aoboshi One", serif;
  font-style: normal;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
}

.footer {
  height: 43px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  width: 23.8rem;
}

header {
  background: #3a563a;
  display: grid;
  gap: 10px;
  padding: 0 0 20px 0;
  width: 23.8rem;
  box-shadow: 0px 4px 4px #00000040;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.book-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.book-container img {
  border-radius: 5px;
  box-shadow: 0px 3px 5px;
}

.book-container .book-name {
  width: 7rem;
}
.nav-bar {
  background: #3a563a;
  box-shadow: 0 0 0;
}

.nav-bar input {
  background: white;
  color: #3a563a;
}
.nav-bar input::placeholder {
  color: #3a563a;
}
